.auth-form {
    height: 220px;
    width: 550px;
    color: #727B7E;
    background: #e1e6ea;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.auth-form-item {
    flex: 1 1 10px;
    margin: 20px 5px;
    padding: 15px;
    height: 50px;
    width: 400px;
}

.auth-form-item__button {
    height: 40px;
    width: 400px;
}

